# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp

# PostgreSQL dumps / local database files
*.sql.bak

# Python distribution
build/
dist/
*.egg-info/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/